* {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color:#099ac8;
}

li {
    float: left;
    text-decoration: none;

}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 80%;

}

li a:hover:not(.active) {
    background-color: #ddd;
    font-size: 80%;
}

li a.active {
    color: white;
    background-color: #04AA6D;
    font-size: 80%;
}

h2 {
    text-align: left;
    margin-left: 5%;
    color: #e88b01;
    font-family: fantasy ;
    font-weight: 300;
    font-size: 80%;
}

h1{
    font-family: fantasy  ;
    font-weight: 600;
    color:#537BE5;
    text-align: center;
    font-size: 130%;
}

h3 {
    text-align: center;
    color: #e88b01;
    font-family: fantasy ;
    font-weight: 100;
    font-size: 90%;
}

div.Bar {
    background-color: #537BE5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80%;
}

form{
    text-align: center;
    font-size: 80%;
}

div.button{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;}

form {
    transform: scale(0.8);
}

p{
    font-size: 80%;
}

h4{
    font-size: 80%;
}